@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


@foreach(var result in Model.Results)
{
    <div id="PokemonDiv" class="border border-primary">
   <a asp-page="/PokemonDetails" asp-route-name="@result.Name"> <h1>@result.Name</h1> </a>
    </div>
}

